{% extends 'base.html.twig' %}

{% block title %}Home | Bomoko Surveillance{% endblock %}

{% block body %}

    <div class="container">
        <span class="justify-content-center">
            Home Controller
        </span>
    </div>

{% endblock %}
