<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <head>
                <title>Home | Bomoko</title><!-- [Meta] -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <!-- [Font] Family -->
                <link rel="preconnect" href="https://fonts.gstatic.com">
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
                <link href="appUi/vendors/simplebar/simplebar.min.css" rel="stylesheet">
                <link href="appUi/css/theme-rtl.css" rel="stylesheet" id="style-rtl">
                <link href="appUi/css/theme.css" rel="stylesheet" id="style-default">
                <link href="appUi/css/user-rtl.css" rel="stylesheet" id="user-style-rtl">
                <link href="appUi/css/user.css" rel="stylesheet" id="user-style-default">
            </head><!-- [Head] end --><!-- [Body] Start -->
        {% endblock %}

        {% block javascripts %}
            <script>
                var isRTL = JSON.parse(localStorage.getItem('isRTL'));
                if (isRTL) {
                    var linkDefault = document.getElementById('style-default');
                    var userLinkDefault = document.getElementById('user-style-default');
                    linkDefault.setAttribute('disabled', true);
                    userLinkDefault.setAttribute('disabled', true);
                    document.querySelector('html').setAttribute('dir', 'rtl');
                } else {
                    var linkRTL = document.getElementById('style-rtl');
                    var userLinkRTL = document.getElementById('user-style-rtl');
                    linkRTL.setAttribute('disabled', true);
                    userLinkRTL.setAttribute('disabled', true);
                }
            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}

            <script data-cfasync="false" src="/assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script src="appUi/vendors/popper/popper.min.js"></script>
            <script src="appUi/vendors/bootstrap/bootstrap.min.js"></script>
            <script src="appUi/vendors/anchorjs/anchor.min.js"></script>
            <script src="appUi/vendors/is/is.min.js"></script>
            <script src="appUi/vendors/fontawesome/all.min.js"></script>
            <script src="appUi/vendors/lodash/lodash.min.js"></script>
            <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
            <script src="appUi/vendors/list.js/list.min.js"></script>
            <script src="appUi/js/theme.js"></script>

        {% endblock %}
    </body>
</html>
